.nav {
    width: 600px;
    
}
.nav-items {
    display: flex;
}

.nav-item {
    /* display: inline; */
    font-size: 4vw;
    border: 3px solid;
    border-radius: 5px 10%;
}

.nav-contents {
    display: flex;
    flex-direction: column;
    font-size: 3vw;
    border: solid;
    background-color: lightgray;
    height: 150px;
    width: 800px;
}

.nav-item.is-active {
    background-color: black;
    color: white;
}

.nav-content {
    display: none;
}

